---
http_interactions:
- request:
    method: get
    uri: http://jservice.io/api/clues/?category=25&max_date=1996-12-31%2000:00:00%20-0800&min_date=1996-01-01%2000:00:00%20-0800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e68b74c47c78c87494d42b2fc7eafa73"'
    body:
      encoding: UTF-8
      string: '[{"id":13595,"answer":"Salt","question":"It''s the more common name
        for sodium chloride","value":100,"airdate":"1996-04-10T12:00:00.000Z","created_at":"2014-02-11T22:54:14.962Z","updated_at":"2014-02-11T22:54:14.962Z","category_id":25,"game_id":null,"invalid_count":null,"category":{"id":25,"title":"science","created_at":"2014-02-11T22:47:21.788Z","updated_at":"2014-02-11T22:47:21.788Z","clues_count":250}},{"id":13601,"answer":"Biennial","question":"Foxglove
        is an example of this type of plant that completes its life cycle in 2 years","value":200,"airdate":"1996-04-10T12:00:00.000Z","created_at":"2014-02-11T22:54:15.054Z","updated_at":"2014-02-11T22:54:15.054Z","category_id":25,"game_id":null,"invalid_count":null,"category":{"id":25,"title":"science","created_at":"2014-02-11T22:47:21.788Z","updated_at":"2014-02-11T22:47:21.788Z","clues_count":250}},{"id":13607,"answer":"Venus","quest[...]
